**/__pycache__/
/svgs/
**/svgs/
!examples/svgs/
examples/svgs/*
!examples/svgs/logo.svg
!examples/svgs/heart.svg
!examples/svgs/moving_frame_box.svg
!examples/svgs/sierpinski_triangle.svg
!examples/svgs/spiral.svg
.coverage
*.egg-info/
dist/
venv/
manim_reference/
references/

# Docs
docs/build/
docs/source/_static/images/*
docs/source/_static/videos/*

# OS
.DS_Store

# TeX intermediates
*.aux
*.log
*.dvi
*.xdv
